<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
            <a class="navbar-brand text-white h4" href="/home">Engineers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <th:block th:if="${session.user == null || session.user.username == null}">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/home">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/login">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/register">Register</a>
                    </li>
                </th:block>

                <th:block th:unless="${session.user == null || session.user.username == null}">

                    <th:block
                            th:unless="${session.user.engineers == 0}">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/projects/auctioneer">Auctioneer</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/projects/create">Create Project</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/engineers/create">Create Engineer</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/users/profile">Profile</a>
                        </li>
                        <li class="nav-item mr-2">
                            <form th:action="@{/logout}" method="post">
                                <button class="nav-link text-white active h5" type="submit">Logout</button>
                            </form>
                        </li>
                    </th:block>

                    <th:block
                            th:if="${session.user.engineers == 0}">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/projects/create">Create Project</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/engineers/create">Create Engineer</a>
                        </li>
                        <li class="nav-item mr-2">
                            <form th:action="@{/logout}" method="post">
                                <button class="nav-link text-white active h5" type="submit">Logout</button>
                            </form>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>
    </nav>
</header>