
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/header-home-moderator}"/>

<main>
    <div class="container">
        <div class="text-center bg-blur">
            <h1>Auction winner</h1>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="align-middle" th:text="${project.name}" ></h3>
                    </div>

                    <div class="col-md-3">
                        <h3 class="align-middle" th:text="${project.getName()}"></h3>
                        <p class="align-content-center">Years Experience : [[${project.getCompany().getExperience()}]]</p>
                        <p class="align-content-center">Type of Company : [[${project.getCompany().getStructureType().toString()}]]</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}" />

</body>
</html>